[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true

[packages]
pynacl = "*"
transformers = {git = "git+https://github.com/huggingface/transformers"}
blake3 = "*"
packaging = "*"
ninja = "*"
setuptools = "*"
torch = {index = "pytorch", version = "==2.3.1"}
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.12"
