[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynacl = "*"
torch = "*"
transformers = {git = "git+https://github.com/huggingface/transformers"}
blake3 = "*"
packaging = "*"
ninja = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
